body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

.log-in-form {
    width: auto;
    text-align: center;
}

.register-form {
    width: auto;
    height: 725px;
    text-align: center;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #6d89b1;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
  font-size: medium;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.camera-icon {
    text-align: right;
}

.general-formatting {
    margin: 2%;
}

.team-page {
    text-align: center;
}

.edit-profile {
    text-align: center;
}

.edit-user-cancel {
    display: inline-block;
    margin-right: 10px;
}

.edit-user-save {
    display: inline-block;
}

.admin-team-page {
    text-align: center;
}

.upload-btn {
    text-align: right;
    margin-bottom: 15px;
}